<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<!-- DataSource Definition -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>org.gjt.mm.mysql.Driver</value>
		</property>
		<property name="url">
			<value>jdbc:mysql://127.0.0.1/wilos</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password">
			<value></value>
		</property>
	</bean>

	<!-- Hibernate SessionFactory Definition -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<property name="mappingResources">
			<list>
				<value>wilos/model/spem2/element/Element.hbm.xml</value>
				<value>
					wilos/model/spem2/breakdownelement/BreakdownElement.hbm.xml
				</value>
				<value>wilos/model/spem2/workbreakdownelement/WorkBreakdownElement.hbm.xml
				</value>
				<value>wilos/model/spem2/process/Process.hbm.xml</value>
				<value>wilos/model/spem2/activity/Activity.hbm.xml</value>
				<value>wilos/model/spem2/task/TaskDescriptor.hbm.xml</value>
				<value>wilos/model/spem2/task/TaskDefinition.hbm.xml</value>
				<value>wilos/model/spem2/task/Step.hbm.xml</value>
				<value>wilos/model/spem2/role/RoleDescriptor.hbm.xml</value>
				<value>wilos/model/spem2/role/RoleDefinition.hbm.xml</value>
				<value>wilos/model/misc/wilosuser/Participant.hbm.xml</value>
				<value>wilos/model/misc/wilosuser/WilosUser.hbm.xml</value>
			</list>
		</property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.cglib.use_reflection_optimizer">
					true
				</prop>
				<prop key="hibernate.cache.provider_class">
					org.hibernate.cache.HashtableCacheProvider
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

	</bean>

	<!-- Spring Data Access Exception Translator Defintion -->
	<bean id="jdbcExceptionTranslator"
		class="org.springframework.jdbc.support.SQLErrorCodeSQLExceptionTranslator">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<!-- Hibernate Template Defintion  -->
	<bean id="hibernateTemplate"
		class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcExceptionTranslator">
			<ref bean="jdbcExceptionTranslator" />
		</property>
	</bean>

	<!-- Hibernate Transaction Manager Defintion  -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- ========================= Start of BEAN DEFINITIONS ========================= -->

	<!-- ========================= DAO Layer ========================= -->

	<bean id="ProcessDao" class="wilos.hibernate.spem2.process.ProcessDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="ActivityDao"
		class="wilos.hibernate.spem2.activity.ActivityDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="ElementDao" class="wilos.hibernate.spem2.element.ElementDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="BreakdownElementDao"
		class="wilos.hibernate.spem2.breakdownelement.BreakdownElementDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="WorkBreakdownElementDao"
		class="wilos.hibernate.spem2.workbreakdownelement.WorkBreakdownElementDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="TaskDefinitionDao"
		class="wilos.hibernate.spem2.task.TaskDefinitionDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="TaskDescriptorDao"
		class="wilos.hibernate.spem2.task.TaskDescriptorDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="RoleDefinitionDao"
		class="wilos.hibernate.spem2.role.RoleDefinitionDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="RoleDescriptorDao"
		class="wilos.hibernate.spem2.role.RoleDescriptorDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="StepDao" class="wilos.hibernate.spem2.task.StepDao">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<!-- ========================= Business Layer ========================= -->

	<bean id="ProcessService"
		class="wilos.business.services.process.ProcessService">
		<property name="processDao" ref="ProcessDao" />
		<property name="activityDao" ref="ActivityDao" />
		<property name="breakdownElementDao" ref="BreakdownElementDao" />
		<property name="elementDao" ref="ElementDao" />
		<property name="roleDefinitionDao" ref="RoleDefinitionDao" />
		<property name="roleDescriptorDao" ref="RoleDescriptorDao" />
		<property name="stepDao" ref="StepDao" />
		<property name="taskDefinitionDao" ref="TaskDefinitionDao" />
		<property name="taskDescriptorDao" ref="TaskDescriptorDao" />
		<property name="workBreakdownElementDao"
			ref="WorkBreakdownElementDao" />
	</bean>

	<bean id="ActivityService"
		class="wilos.business.services.activity.ActivityService">
		<property name="activityDao" ref="ActivityDao" />
	</bean>

</beans>