/*petit test sur les boutons*/
.button{
	background-color:#CAC0D6;
	border: 2px outset  #FFFFFF;
	/*outline:#8B82A2 solid thin;*/
	color:#9681B7;
	padding: 0px 5px  0px 5px;
	font:bold 8pt Verdana;
}
.button:hover{
	background-color:#9681B7;
	color:#F7C748;
}

/*petit test sur les boutons*/
.smallbutton{
	background-color:#CAC0D6;
	border: 2px outset  #FFFFFF;
	/*outline:#8B82A2 solid thin;*/
	color:#9681B7;
	padding: 0px 5px  0px 5px;
	font:bold 7pt Verdana;
}
.smallbutton:hover{
	background-color:#9681B7;
	color:#F7C748;
}
	
#body{
	border:3px solid #FFFFFF;
	padding: 0px 0px 0px 0px;  
	margin:10px 5px 0px 10px;
	background-color:#BEB4CC;
	outline:#8B82A2 solid medium;
	overflow:hidden;
}

#connection { 
	width:256px;
	border-right:2px solid #FFFFFF;
	border-top:2px solid #FFFFFF;
	border-bottom:2px solid #FFFFFF;
}

#roles_actions {
	position:absolute;
	top:14.3%;
	left:270px;
	height:25px;
	width:63%;
	overflow:hidden;
	line-height:25px;
}

#tree { 
	width:256px;
	height:400px;
	border-right: 2px solid #FFFFFF;  
	overflow:auto;
}

#selection{
	width : 256px;
	border-right: 2px solid #FFFFFF;
	overflow:hidden;
}

#wilos_messages{
	list-style-image: url("../images/arrow_messages.gif");
}

#ul{
  list-style-image: url("../images/arrow_messages.gif");
}

#li{
  list-style-image: url("../images/arrow_messages.gif");
}

.pGrdPopupButtons {
    left:30%;
}

.panelGroupTopMargin{
	margin-top : 20px;
}